<div class="header">
    <h1>Affichage administrateur</h1>
    <div id="currentTime"></div>
</div>

<script>
    function updateTime() {
        const now = new Date();
        document.getElementById("currentTime").textContent = now.toLocaleTimeString("fr-FR", { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false });
    }
    setInterval(updateTime, 1000);
    window.onload = updateTime;
</script>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        background-color: #2c2a2a;
        color: white;
    }
</style>
