<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" th:href="@{/fragments/css/header.css}" />
</head>
<body>
<div class="header">
    <div th:insert="fragments/header :: header"></div>
    <div th:insert="fragments/header :: headerStyle"></div>
    <div th:insert="fragments/header :: headerScript"></div>
</div>

<div class="haut"></div>
<div style="background: white;" class="body">
    <h1>Bienvenue sur notre site</h1>

    <h2>Portfolios Publics</h2>
        <ul>
            <li th:each="portfolio : ${publicPortfolios}">
                <h3 th:text="${portfolio.title}">Titre du portfolio</h3>
                <p th:text="${portfolio.description}">Description du portfolio</p>
            </li>
        </ul>

</div>



</body>
</html>

<style>
    body{
        background: #58838c;
    }
    .haut {

        height: 150px;
    }

    .body {
        height: 100%;
    }
</style>